h1{
    font-family: 'Libre Baskerville', serif;
}

body{
    color:white;
    background-color: black;
}

#first {
border: 5px solid white;
width: 50%;
margin: 5% 25% 0% 25%;
}

img{
    width: 100%;
}

#second {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}